<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sp33ch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->
  </head>
  <body>
    <h1>Sp33ch</h1>

    <div id="controls">
  	 <button id="recordButton">Record</button>
  	 <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>

    <div id="spectogram"></div>

  	<script src="/static/recorder.js"></script>
  	<script src="/static/index.js?v={{uuid}}"></script>

  </body>
</html>